:root{
    --red_netflix: #E50914;
    --black: #141414; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .title{
    color: var(--red_netflix);
    font-family: 'Arial Black';
    margin-right: 15px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{ /*pass the mouse*/
    color: #fff;
}

.main-movie{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/bridgerton-cover.jpg');
    height: 400px;
    width: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /*left to right*/
}